
.header {
  width: 100%;
  background: #0a0a0a;
  padding: 20px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.header-content {
  width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-content h1 {
  margin: 0;
  color: white;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: 600;
}


.header-content nav {
  display: flex;
  gap: 26px;
}

.header-content nav a {
  color: #e5e5e5;
  font-size: 16px;
  font-weight: 500;

  text-decoration: none;
  padding: 6px 10px;
  transition: 0.3s;
  border-radius: 6px;
}


.header-content nav a:hover {
  background: #1f1f1f;
  color: white;
}


.active {
  background: #007bff;
  color: white !important;
}


@media (max-width: 600px) {
  .header-content {
    flex-direction: column;
    gap: 8px;
  }

  .header-content nav {
    gap: 18px;
  }
}
